.section-courses__courses-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 70px;
}

.course-card {
    background-color: var(--bg-secondary-color);
    border-radius: 10px;
    overflow: hidden;
}

.course-card__cover {
    width: 100%;
    height: 194px;
    object-fit: cover;
}

.course-card__content {
    display: flex;
    flex-direction: column;
    padding: 24px;
}

.course-card__title {
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
    margin-bottom: 4px;
}

.course-card__author {
    font-size: 18px;
    line-height: 22px;
    color: var(--color-text-caption);
    margin-bottom: 16px;
}

.course-card__duration {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 16px;
}

.course-card__caption {
    font-size: 16px;
    line-height: 19px;
}

.course-card__tags {
    display: flex;
    gap: 12px;
    align-items: center;
}

.course-card__tag {
    display: flex;
    align-items: center;
    gap: 4px;
    padding: 6px 12px;
    border-radius: 17px;
    border: var(--border);
    line-height: 19.2px;
}

.course-card__bottom {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    padding: 24px;
    background-color: var(--bg-additional-color);
    gap: 12px;
}


.course-card__bottom-price {
    font-size: 22px;
    font-weight: 700;
    line-height: 26px;
    min-width: max-content;
}


@media (max-width: 960px) {
    .section-courses__courses-cards {
        gap: 40px;
    }
}

@media (max-width: 480px) {
    .section-courses__courses-cards {
        gap: 24px;
    }

    .course-card__title {
        font-size: 21px;
        line-height: 25.2px;
    }
}

@media (max-width: 350px) {
    .course-card__bottom-price {
        font-size: 18px;
    }

    .course-card__title {
        font-size: 20px;
    }

    .section-courses__courses-cards {
        grid-template-columns: repeat(auto-fit, minmax(272px, 1fr));
    }
}